* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf");
}


body {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.button {
    height: 50px;
    width: 100px;
    border: 1px outset black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    top: 10px;
}

.button:hover {
    cursor:pointer
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

img {
    height: 200px;
    width: 200px;
}